<h1>Account details page</h1>

<table class="table">
  <tbody>
    <tr>
      <th scope="col">Name : </th>
      <td scope="col"><%= @user.name %></td>
      <th></th>
    </tr>
  
    <tr>
      <th>Email address : </th>
      <td><%= @user.email %></td>
      <td></td>
    </tr>

    <tr>
      <td colspan="2" class="col-6"><a href="<%= profil_path %>" class="btn btn-success"> Edit</a>
         <a href="<%= new_session_path %>" data-confirm="sure!" data-method="delete" class="btn btn-danger"> Delete</a></td>
      
    </tr>
   
  </tbody>
  
</table>